@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/header-back.jpg');
    height: 95vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    padding-top: 1rem;
}

.navbar {
    /* border: 2px solid white; */
    padding: 2rem;
}

.navbar::after {
    content: '';
    display: block;
    clear: both;
}

.navbar .logo {
    color: white;
    float: left;
}

.navbar .nav-items {
    float: right;
    margin-top: 1em;
}

.navbar .nav-items a {
    color: white;
    text-decoration: none;
}

.navbar .nav-items a:hover {
    border-bottom: 2px solid white;
}

.navbar .nav-item {
    font-size: 1.5rem;
    margin: 0 2rem;
    display: inline-block;
}

.header-contant {
    /* border: 2px solid white; */
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.header-contant p {
    margin: 2rem 0 0.9rem 0;
    font-size: 1.5rem;
}

/* ########### Utility class ########### */
.text-red {
    color: red;
}

.text-light {
    color: white;
}

.tex-dark {
    color: black;
}

h1,
h2,
h3 {
    font-size: 2.2rem;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    width: 60%;
}

.lg-text {
    font-size: 3.5rem;
}

.btn {
    display: inline-block;
    font-size: 1.5rem;
    border-radius: 100px;
    background-color: white;
    font-weight: 600;
    /* color: red; */
    text-decoration: none;
    /* border: 3px solid red; */
    padding: 0.5em 1.5em;
    /* margin: 0.5em 0; */
    text-transform: uppercase;
}

.btn:hover {
    background-color: #ddd;
}

.points::after,
.quality::after,
.about-last::after,
.elements::after {
    content: '';
    display: block;
    clear: both;
}

/* ################  showcase section part   ################# */

.showcase {
    /* margin: 10rem; */
    padding: 8rem;
    background-color: #ddd;
}

.row {
    /* border: 2px solid red; */
    height: 220px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.473);
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.row1 {
    margin-bottom: 8rem;
}

.row1 .img-box,
.row2 .text-box {
    width: 50%;
    float: left;
}

.row1 .text-box,
.row2 .img-box {
    width: 50%;
    float: right;
}

.row1 .img-box,
.row2 .img-box {
    height: 100%;
    /* border: 2px solid green; */
}

.row .img-box img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.row .text-box h3 {
    padding: 2rem;
    /* text-align: center; */
    /* border: 2px solid purple; */
}

.row .text-box p {
    color: gray;
    padding: 0 2rem;
    font-size: 1.2rem;
    /* border: 2px solid purple; */
}

.row .text-box .sec-btn {
    border: 2px solid red;
    margin: 2rem;
}

/* ########################## Feature section ######################### */
.features {
    padding: 8rem;
    color: #fff;
}

.features i {
    font-size: 2rem;
}

.feature h3 {
    padding: 1rem 0;
}

.feature p {
    font-size: 1.2rem;
}

.box-wrapper {
    /* border: 2px solid red; */
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.377);
}

.box-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.feature {
    /* border: 1px solid black; */
    float: left;
    width: 33.333%;
    text-align: center;
    padding: 2rem;
}

.feature1,
.feature3 {
    background-color: #263238;
}

.feature1 i,
.feature3 i {
    color: #ee4758;
}

.feature2 {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
}

/* ###################### FOOTER STYLING ###################### */
.foot {
    padding: 1.5rem;
    background-color: #263238;
    text-align: center;
    color: #fff;
}

.foot .foot-logo a i {
    color: #fff;
    font-size: 2rem;
    padding: 0 1rem 0.5rem 1rem;
}

.foot .para p {
    font-size: 1rem;
    font-weight: bold;
}

/* ######################### About Us Page Styling ############################### */

.myabout {
    /* border: 2px solid black; */
    padding: 2.5rem 0;
}

.bg-dark {
    background-color: #263238;
}

.myabout h2 {
    border-bottom: 5px solid #ee4758;
    padding-bottom: 0.5rem;
    letter-spacing: 0.2rem;
}

.para {
    padding: 1rem 0;
    font-size: 1.2rem;
    color: gray;
}

/* .myabout .points{
  border: 2px solid #ee4758;
} */

.left-points,
.right-points {
    float: left;
    width: 50%;
    /* border: 2px solid black; */
    text-align: center;
}

.left-points p,
.right-points p {
    padding: 0.3rem;
    font-size: 1.1rem;
}

.points i {
    color: #ee4758;
    padding: 0 1.5rem 0 0;
}

.quality {
    /* border: 2px solid black; */
    margin: 1rem auto;
}

.float {
    float: left;
    width: 25%;
    text-align: center;
}

.float h3 {
    color: #ee4758;
}

.float p {
    color: black;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.about-last {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.479);
    padding: 2rem;
    color: #fff;
}

.about-last .left {
    float: left;
    width: 60%;
    text-align: center;
}

.about-last .right {
    float: left;
    width: 40%;
    text-align: right;
}

.about-last p {
    color: #fff;
    font-size: 1.5rem;
    text-align: left;
    font-weight: 600;
}

.about-last .about-foot a {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem;
    border: 2px solid #fff;
    text-decoration: none;
    margin: 0.3rem;
    letter-spacing: 0.2rem;
}

.about-last .about-foot a:hover {
    background-color: #263238;
}

/* ##################### Contact Us ################################ */
body {
    background-color: #ddd;
}

.element1,
.element2 {
    /* border: 2px solid red;    */
    padding: 2rem;
    background-color: #fff;
    height: 47rem;
    box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.473);
}

.element1 {
    float: left;
    width: 48%;
}

.element1 img {
    width: 100%;
    margin-top: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: cover;
    box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.473);
}

.element1 p {
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.element1 h3 i {
    color: #ee4758;
    padding: 0 1rem 0 0;
}

.element2 {
    float: right;
    width: 48%;
}

.element2 h3::after {
    content: '';
    display: block;
    border: 3px solid #ee4758;
}

.element2 form .form-inputs label {
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
}

.element2 form .form-inputs label::after {
    content: '*';
    color: #ee4758;
}

.element2 form .form-inputs input {
    margin-bottom: 1rem;
    padding: 0.1rem 0.5rem;
    font-size: 1.5rem;
    width: 100%;
}

.element2 form .form-inputs textarea {
    margin-bottom: 0.5rem;
    padding: 0.5rem 0.5rem;
    font-size: 1.5rem;
    width: 100%;
    height: 100%;
}

.element2 form button {
    border-radius: 0;
}

.element2 form .form-btn {
    /* text-align: center; */
    color: #fff;
    background-color: #ee4758;
    cursor: pointer;
}

.element2 form .form-btn:hover {
    background-color: #263238;
    cursor: pointer;
}

.elements {
    margin: 5rem auto;
    /* border: 2px solid black; */
}





/* #####################Media Quarry############################ */

@media(max-width:334px) {
    html {
        font-size: 40%;
    }

    .container {
        width: 95%;
    }

    .showcase {
        padding: 2rem;
        width: 100%;
    }

    .showcase .row {
        padding: 1rem;
        height: inherit;
    }

    .showcase .row1 {
        margin-bottom: 2rem;
    }

    .showcase .row .img-box,
    .showcase .row .text-box {
        float: none;
        width: 100%;
    }

    .features {
        padding: 2rem;
        box-shadow: none;
    }

    .features .box-wrapper {
        box-shadow: none;
    }

    .feature {
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.377);
        ;
        float: none;
        width: 100%;
        margin-bottom: 2rem;
    }
}

@media(max-width:364px) {
    .about-last .right {
        /* color: #263238; */
        display: none;
    }

    .elements .element2 .form-inputs input,
    .elements .element2 .form-inputs textarea {
        border: 2px solid gray;
    }
}

@media (min-width:335px) and (max-width:700px) {
    html {
        font-size: 50%;
    }

    .header .navbar .logo,
    .header .navbar .nav-items {
        display: block;
        float: none;
        text-align: center;
    }

    .container {

        width: 80%;
    }

    .showcase {
        padding: 3rem;
    }

    .showcase .row {
        padding: 1rem;
        height: inherit;
    }

    .showcase .row1 .img-box,
    .showcase .row1 .text-box {
        float: none;
        width: 100%;
    }



    .showcase .row2 .img-box,
    .showcase .row2 .text-box {
        float: none;
        width: 100%;
    }

    .showcase .row1 {
        margin-bottom: 3rem;
    }


    .features {
        padding: 3rem;
    }

    .features .box-wrapper {
        box-shadow: none;
    }

    .feature {
        background-color: #fff;
        float: none;
        width: 100%;
        color: #263238;
        margin-bottom: 3rem;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.473);
    }

    .about-last .about-foot a {
        font-size: 1.2rem;
        padding: 1rem;
    }

    .about-last .right {
        margin-top: 1rem;
    }

    .elements {
        margin: 2.5rem auto;
    }

    .elements .element1,
    .elements .element2 {
        float: none;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    .elements .element1 {
        height: inherit;
    }
}



@media (min-width:701px) and (max-width:900px) {
    html {
        font-size: 60%;

    }

    .container {
        width: 95%;
    }

    .showcase {
        padding: 5rem;
    }

    .showcase .row {
        height: inherit;
    }

    .showcase .row .img-box {
        max-height: 250px;
        height: 290px;
    }

    .showcase .row1 {
        margin-bottom: 5rem;
    }

    .features {
        padding: 5rem;
    }
}


@media (min-width:901px) and (max-width:1185px) {
    .container {
        width: 100%;
    }

    .elements .element1 img {
        height: inherit;
        max-height: 275px;
        /* display: none; */
    }
}